## Transform data into common csv file

In [27]:
import pyreadr
import pandas as pd

# result = pyreadr.read_r('./ukb_2.Rdata')
# print(result.keys())
# data = result["ukb"]
# # sample_data = data.loc[:2000]
# sample_data = data
# sample_data.to_csv("ukb_sample.csv")

odict_keys(['ukb'])

## Remove Nan value

In [28]:
df = pd.read_csv("ukb_sample.csv")
df.info()

<ipython-input-28-c79604f6c2e2>:1: DtypeWarning: Columns (146,148) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("ukb_sample.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273353 entries, 0 to 273352
Columns: 209 entries, Unnamed: 0 to dm
dtypes: float64(193), int64(3), object(13)
memory usage: 435.9+ MB

In [29]:
df

,Unnamed: 0,eid,smk_status.0,smk_status.1,smk_status.2,diff_hrt_oophorectomy_grp.0,diff_hrt_oophorectomy_grp.1,diff_hrt_oophorectomy_grp.2,diff_hrt_oophorectomy_grp.3,diff_hrt_natural_grp.0,...,allpd.YN,time.alldem,time.alzhe1,time.vasdementia1,time.frontdementia,time.allpd,time.parkinson1,time.death,nonhdl,dm
0,0,1000019.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,...,0.0,13.391781,13.391781,13.391781,13.391781,13.391781,13.391781,NaN,3.953,0.0
1,1,1000035.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,...,0.0,13.545205,13.545205,13.545205,13.545205,13.545205,13.545205,NaN,5.877,0.0
2,2,1000046.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,NaN,...,0.0,13.849315,13.849315,13.849315,13.849315,13.849315,13.849315,NaN,4.898,0.0
3,3,1000112.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,0.0,...,0.0,13.460274,13.460274,13.460274,13.460274,13.460274,13.460274,NaN,3.400,0.0
4,4,1000170.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,...,0.0,13.575342,13.575342,13.575342,13.575342,13.575342,13.575342,NaN,3.990,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273348,273348,6024956.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,1.0,...,0.0,12.257534,12.257534,12.257534,12.257534,12.257534,12.257534,NaN,5.411,0.0
273349,273349,6024974.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,0.0,...,0.0,13.578082,13.578082,13.578082,13.578082,13.578082,13.578082,NaN,NaN,0.0
273350,273350,6025004.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,...,0.0,11.353425,11.353425,11.353425,11.353425,11.353425,11.353425,NaN,4.061,0.0
273351,273351,6025023.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,...,0.0,11.682192,11.682192,11.682192,11.682192,11.682192,11.682192,NaN,5.556,0.0
273352,273352,6025031.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,...,0.0,12.446575,12.446575,12.446575,12.446575,12.446575,12.446575,NaN,4.799,0.0

In [30]:
for i, key in enumerate(df.keys()):
    df[key].fillna(-1, inplace=True)

In [5]:
df

,Unnamed: 0,eid,smk_status.0,smk_status.1,smk_status.2,diff_hrt_oophorectomy_grp.0,diff_hrt_oophorectomy_grp.1,diff_hrt_oophorectomy_grp.2,diff_hrt_oophorectomy_grp.3,diff_hrt_natural_grp.0,...,allpd.YN,time.alldem,time.alzhe1,time.vasdementia1,time.frontdementia,time.allpd,time.parkinson1,time.death,nonhdl,dm
0,0,1000019.0,1.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,1.0,...,0.0,13.391781,13.391781,13.391781,13.391781,13.391781,13.391781,-1.0,3.953,0.0
1,1,1000035.0,1.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,1.0,...,0.0,13.545205,13.545205,13.545205,13.545205,13.545205,13.545205,-1.0,5.877,0.0
2,2,1000046.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,-1.0,...,0.0,13.849315,13.849315,13.849315,13.849315,13.849315,13.849315,-1.0,4.898,0.0
3,3,1000112.0,0.0,1.0,0.0,-1.0,-1.0,-1.0,-1.0,0.0,...,0.0,13.460274,13.460274,13.460274,13.460274,13.460274,13.460274,-1.0,3.400,0.0
4,4,1000170.0,1.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,1.0,...,0.0,13.575342,13.575342,13.575342,13.575342,13.575342,13.575342,-1.0,3.990,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,1996,1037535.0,1.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,1.0,...,0.0,12.717808,12.717808,12.717808,12.717808,12.717808,12.717808,-1.0,4.606,0.0
1997,1997,1037546.0,0.0,1.0,0.0,-1.0,-1.0,-1.0,-1.0,0.0,...,0.0,11.320548,11.320548,11.320548,11.320548,11.320548,11.320548,-1.0,3.684,0.0
1998,1998,1037563.0,1.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,1.0,...,0.0,11.693151,11.693151,11.693151,11.693151,11.693151,11.693151,-1.0,6.307,0.0
1999,1999,1037578.0,1.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,0.0,...,0.0,12.287671,12.287671,12.287671,12.287671,12.287671,12.287671,-1.0,4.724,0.0
2000,2000,1037590.0,0.0,0.0,1.0,-1.0,-1.0,-1.0,-1.0,0.0,...,0.0,11.263014,11.263014,11.263014,11.263014,11.263014,11.263014,-1.0,3.600,0.0

In [33]:
df.isna().sum().sum()

0

## Process endometri attribute
1) fill Nan with -1

2) replace date with 1

In [35]:
df["endometri"]

0         -1
1         -1
2         -1
3         -1
4         -1
          ..
273348    -1
273349    -1
273350    -1
273351    -1
273352    -1
Name: endometri, Length: 273353, dtype: object

In [36]:
df.loc[df["endometri"] != -1] = 1
df.endometri = df.endometri.astype(int)
df.endometri

0        -1
1        -1
2        -1
3        -1
4        -1
         ..
273348   -1
273349   -1
273350   -1
273351   -1
273352   -1
Name: endometri, Length: 273353, dtype: int64

In [37]:
(df["endometri"] == 1).sum()

9939

In [ ]:
# from datetime import datetime
# period = datetime(2022, 12, 22) - df.dateofattending.astype("datetime64")
# period.map(lambda x: x.days)

## Remove column with date info

In [38]:
from collections import defaultdict
data_type = set()
data_type_dict = defaultdict(int)

for key in df.keys():
    if df[key].dtype == "object":
        df.drop(columns=[key], inplace=True)
        print(key)

    data_type.add(df[key].dtype)
    data_type_dict[str(df[key].dtype)] += 1
print(data_type)
print(data_type_dict.items())

dateofattending
alldementia
alzhe1
alzhe2
vasdementia1
vasdementia2
frontdementia
allparkin
parkinson1
parkinson2
death
ectopicpreg
{dtype('float64'), dtype('O'), dtype('int64')}
dict_items([('int64', 4), ('float64', 193), ('object', 12)])

In [39]:
for key in df.keys():
    if df[key].dtype == "object":
        df.drop(columns=[key], inplace=True)

In [40]:
df.endometri

0        -1
1        -1
2        -1
3        -1
4        -1
         ..
273348   -1
273349   -1
273350   -1
273351   -1
273352   -1
Name: endometri, Length: 273353, dtype: int64

In [41]:
df.drop(columns=["Unnamed: 0", "eid"], inplace=True)

## Save numpy array for training / valid / test

In [42]:
label = df.pop("endometri")
df.insert(df.shape[1], "endometri", label)

In [43]:
data = df.to_numpy()

In [45]:
import numpy as np
np.save("ukb_array_all.npy", data)

In [51]:
def split_data(array):
    row_total = array.shape[0]
    num_train_sample = int(row_total * 0.7)
    num_valid_sample = int(row_total * 0.2)
    num_test_sample = int(row_total * 0.1)
    row_sequence = np.arange(row_total)
    np.random.shuffle(row_sequence)
    train_arr = array[row_sequence[0: num_train_sample], :]
    valid_arr = array[row_sequence[num_train_sample: num_train_sample + num_valid_sample], :]
    test_arr = array[row_sequence[-num_test_sample: ], :]
    np.save("ukb_array_train.npy", train_arr)
    np.save("ukb_array_valid.npy", valid_arr)
    np.save("ukb_array_test.npy", test_arr)
    return train_arr, valid_arr, test_arr

train_arr, valid_arr, test_arr = split_data(data)